* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://minhabiblioteca.com.br/wp-content/uploads/2015/08/20150818-MINHA-BIBLIOTECA-Descubra-quais-sao-as-bibliotecas-mais-importantes-do-mundo1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 95vw;
    height: 90vh;
    background-color: rgba(196, 128, 51, 0.8);
    position: relative;
    left: 30px;
    top: 30px;
}

button{
    position: relative;
    left: 9vh;
    bottom: 4vh;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "aside main"
    "aside main"
    ;
}

aside{
    grid-area: aside;
}
main{
    grid-area: main;
}
.listaGeneros{
    background-color: seagreen;
    width: 98%;
    height: 48%;
    margin-left: 10px;
    margin-top: 5px;
}

.formulario{
    background-color: sienna;
    height: 48%;
    width: 98%;
    margin-left: 10px;
    margin-top: 10px;
}
main{
    background-color: skyblue;
    margin-left: 2%;
    width: 96%;
    height: 97%;
    margin-top:8px;
}
